@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div>Данный сервис представляет собой простой органайзер, позволяющий:</div>   
    <ul>
        <li>Просматривать список задач;</li>
        <li>Добавлять задачу;</li>
        <li>Удалять задачу;</li>
        <li>Помечать задачу как выполненную.</li>
    </ul>

    <img src="@Url.Content("~/Content/img/Tasks.png")" />
</div>

@*<div class="row">
    <div class="col-md-6">
        Данный сервис представляет собой простой органайзер, позволюящий вести список задач.
    </div>
    <div class="col-md-6">
        <img src="@Url.Content("~/Content/img/Tasks.png")"/>
    </div>
</div>*@